<img src="https://i.imgur.com/X9R3e67.png" style="float: left; margin: 20px; height: 55px">

## Review of Python types, lists, and dictionaries



---

In [17]:
# Enter some student names here:
student_names = ['alex', 'andrew', 'bishajit', 'brittney','cleon','craig','darren','denzel','dilobar','franklin','hector','ian','ibrahima','isaac']

---

### 1. What are the types of the following variables?

In [18]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'daniel':'adeyanju', 'will':'campbell'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [19]:
# Type datatype for each variable below

# a = Integer
# b = Float
# c = List
# d = Dictionary 
# e = Tuple
# f = Dictionary key value pair
# g = Boolean
# h = Boolean
# i = String

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [20]:
# A: Mutable objects can change their contents. Immutable objects can't change their contents.
# So basically mutable objects, you can go in and change particular items.

# Mutable data types
# List
# Dictionaries
# user-defined clases

# Immutable data types 
# int
# float
# decimal
# bool
# string 
# tuple 
# range

---

### 3. Print the `student_names` list.

In [21]:
student_names = ['alex', 'andrew', 'bishajit', 'brittney','cleon','craig','darren','denzel','dilobar','franklin','hector','ian','ibrahima','isaac']

print(student_names)

['alex', 'andrew', 'bishajit', 'brittney', 'cleon', 'craig', 'darren', 'denzel', 'dilobar', 'franklin', 'hector', 'ian', 'ibrahima', 'isaac']

---

### 4. Print the names of the first and last students in the list.

In [22]:
# A:
student_names = ['alex', 'andrew', 'bishajit', 'brittney','cleon','craig','darren','denzel','dilobar','franklin','hector','ian','ibrahima','isaac']
student_names_length = len(student_names)
print(f"First:{student_names[0]} and last:{student_names[(student_names_length - 1 )]}")

First:alex and last:isaac

---

### 5. Print the first five names in the student list.

In [43]:
# A:
student_names = ['alex', 'andrew', 'bishajit', 'brittney','cleon','craig','darren','denzel','dilobar','franklin','hector','ian','ibrahima','isaac']

print(f"First:{student_names[:5]}")

for x in range(5):
    print(f"{x + 1}: {student_names[x]}")

First:['alex', 'andrew', 'bishajit', 'brittney', 'cleon']
1: alex
2: andrew
3: bishajit
4: brittney
5: cleon

---

### 6. Combine the ninth and 10th student names into a single string, separated by a space.  Assign that string to a variable.

In [45]:
# A:
student_names = ['alex', 'andrew', 'bishajit', 'brittney','cleon','craig','darren','denzel','dilobar','franklin','hector','ian','ibrahima','isaac']

new_student = f"{student_names[9]} {student_names[10]}"
print(new_student)

franklin hector

---

### 7. Append an animal to the list of animals.

In [46]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [47]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
animals.append("lion")
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'lion']

---

### 8. Print the length of the animals list.

In [48]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
print(len(animals))

6

---

### 9. Divide the length of the fifth animal by the second.

In [51]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
first_animal = len(animals[5])
second_animal = len(animals[3])

print(first_animal / second_animal)

1.75

---

### 10. Perform the same division, but ensure output is a decimal number.

In [52]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
first_animal = len(animals[5])
second_animal = len(animals[3])

print(float(first_animal / second_animal))

1.75

---

### 11. Show two different ways to combine the animals list and the numbers list.

In [ ]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [56]:
# A:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']
numbers = [0., 0.1, 1., 10., 100., 1000.]

# newlist = animals + numbers 
# print(newlist)

merged_list = []
for x in animals:
    merged_list.append(x)
for x in numbers:
    merged_list.append(x)
print(merged_list)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 12. Remove 'student' from the list and insert your own in its place.

In [ ]:
names = ['doug', 'billy', 'student', 'kian', 'sam']

In [60]:
# A:
names = ['doug', 'billy', 'student', 'kian', 'sam']
names[2] = 'Ricardo'
print(names)

['doug', 'billy', 'Ricardo', 'kian', 'sam']

---

### 13. Sort the following list.

In [8]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

TypeError: '<' not supported between instances of 'dict' and 'list'

In [9]:
# A:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]
mix.sort()
print(type(mix))
print(mix)

TypeError: '<' not supported between instances of 'dict' and 'list'

---

### 14. Manually check whether one element of `mix` is greater than another.

In [ ]:
# A:

---

### 15. Find the index of `'a'` in the list.

In [ ]:
# A:

---

### 16. Reverse the `mix` list.

In [ ]:
# A:

---

### 17. Remove the last element of `mix`,  and assign it to a variable.

In [ ]:
# A:

---

### 18. Count the number of times `0` appears in the following list.

In [ ]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [83]:
# A:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]
print(binary.count(0))

16

---

19. Create an NYC zipcode dictionary.

With the following key:value pairs:

    'central_harlem':10026
    'soho':10012
    'bushwick':11206
    'north_queens':11354

In [88]:
# A:
nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}

10012

---

### 20. Get the zipcode for `'soho'`, and assign it to a variable.

In [89]:
# A:
nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}
assigned_zipcode = nyc_zipcode["soho"]
print(assigned_zipcode)

10012

---

### 21. Get the keys out of the dictionary.

In [90]:
# A:
nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}

print(nyc_zipcode.keys())

dict_keys(['central_harlem', 'soho', 'bushwick', 'north_queens'])

---

### 22. Get the key:value pairs out of the dictionary as a list of tuples.

In [91]:
# A:
nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}

print(nyc_zipcode.items())

dict_items([('central_harlem', 10026), ('soho', 10012), ('bushwick', 11206), ('north_queens', 11354)])

---

### 23. Add `'port_richmond'` to the dictionary with zipcode 10302.

In [92]:
# A:
nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}

nyc_zipcode.update({"port_richmond": 10302})
print(nyc_zipcode)

{'central_harlem': 10026, 'soho': 10012, 'bushwick': 11206, 'north_queens': 11354, 'port_richmond': 10302}

---

### 24. Combine the following smaller dictionary of districts with the NYC zip codedictionary.

In [ ]:
small = {'fordham':10458, 'southeast_bronx':10461}

In [96]:
# A:
small = {'fordham':10458, 'southeast_bronx':10461}

nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}

nyc_zipcode.update(small)
print(nyc_zipcode)

{'central_harlem': 10026, 'soho': 10012, 'bushwick': 11206, 'north_queens': 11354, 'fordham': 10458, 'southeast_bronx': 10461}

---

### 25. Remove the '`fordham`' zipcode, and assign it to a variable.

In [97]:
# A:
small = {'fordham':10458, 'southeast_bronx':10461}

nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}
nyc_zipcode.update(small)

removed = nyc_zipcode.pop("fordham")
print(nyc_zipcode)
print(removed)

{'central_harlem': 10026, 'soho': 10012, 'bushwick': 11206, 'north_queens': 11354, 'southeast_bronx': 10461}
10458

---

### 26. Check if the 'southeast_bronx' is in the dictionary.

In [98]:
# A:
small = {'fordham':10458, 'southeast_bronx':10461}

nyc_zipcode = {
    "central_harlem": 10026,
    "soho": 10012,
    "bushwick": 11206,
    "north_queens": 11354
}
nyc_zipcode.update(small)

print(nyc_zipcode.get("southeast_bronx"))

10461